*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

:root{
  --bg:#0f1117;
  --card:#171b24;
  --border:#252a36;
  --text:#f5f7fa;
  --muted:#8a93a6;
  --accent:#6d7cff;
  --success:#3ddc97;
}

html,
body{
  width:100%;
  height:100%;
  overflow:hidden;
  font-family:
  Inter,
  system-ui,
  sans-serif;

  background:var(--bg);
  color:var(--text);
}

.app{
  height:100vh;
  padding:20px;
}

.workspace{
  height:100%;
  display:grid;
  grid-template-columns:
  1fr 360px;
  gap:20px;
}

.editor-card,
.console-card{
  background:var(--card);

  border:
  1px solid var(--border);

  border-radius:24px;

  overflow:hidden;

  box-shadow:
  0 0 0 1px rgba(255,255,255,.03),
  0 20px 60px rgba(0,0,0,.4);
}

.editor-header,
.console-header{
  height:70px;

  padding:
  0 24px;

  display:flex;
  align-items:center;
  justify-content:space-between;

  border-bottom:
  1px solid var(--border);
}

.brand{
  display:flex;
  align-items:center;
  gap:12px;
}

.logo{
  width:12px;
  height:12px;
  border-radius:50%;
  background:var(--accent);

  box-shadow:
  0 0 20px
  var(--accent);
}

.brand h2{
  font-size:18px;
}

.editor-status{
  color:var(--muted);
}

#editor{
  height:
  calc(100% - 70px);
}

#output{
  height:
  calc(100% - 70px);

  overflow:auto;

  padding:20px;

  font-family:
  JetBrains Mono,
  monospace;
}

.log-line{
  padding:10px 14px;

  margin-bottom:8px;

  border-radius:10px;

  background:
  rgba(255,255,255,.03);

  word-break:break-word;
}

.log-error{
  border-left:
  4px solid #ff5b5b;
}

.log-warn{
  border-left:
  4px solid #ffc857;
}

.log-info{
  border-left:
  4px solid #3ea6ff;
}

#status{
  color:var(--success);
}

.floating-actions{
  position:fixed;

  right:30px;
  bottom:30px;

  display:flex;
  gap:12px;

  padding:12px;

  border:
  1px solid var(--border);

  border-radius:18px;

  background:
  rgba(20,24,32,.95);

  backdrop-filter:
  blur(20px);

  box-shadow:
  0 20px 60px rgba(0,0,0,.5);
}

.floating-actions button{
  border:none;
  outline:none;

  cursor:pointer;

  padding:
  12px 18px;

  border-radius:12px;

  color:white;

  background:#242938;

  transition:.25s;
}

.floating-actions button:hover{
  transform:
  translateY(-2px);
}

.run-btn{
  background:
  linear-gradient(
    135deg,
    #6d7cff,
    #8a66ff
  ) !important;
}

.switch{
  display:flex;
  align-items:center;
  gap:8px;

  color:white;

  padding:0 10px;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#343c4f;
  border-radius:99px;
}

@media(max-width:900px){

  .workspace{
    grid-template-columns:1fr;
  }

  .console-card{
    display:none;
  }

  .floating-actions{
    left:20px;
    right:20px;
    justify-content:center;
  }
}
